USE [Hangman]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 5/9/2020 9:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 5/9/2020 9:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[player_name] [varchar](15) NULL,
	[level] [int] NULL,
	[category] [varchar](20) NULL,
	[word] [varchar](50) NULL,
	[used_letters] [varchar](40) NULL,
	[progress] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mountains]    Script Date: 5/9/2020 9:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mountains](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 5/9/2020 9:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 5/9/2020 9:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](10) NOT NULL,
	[image] [image] NOT NULL,
	[played_games] [int] NULL,
	[won_games] [int] NULL,
	[lost_games] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rivers]    Script Date: 5/9/2020 9:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rivers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States]    Script Date: 5/9/2020 9:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](25) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([id], [name]) VALUES (1, N'ACURA')
INSERT [dbo].[Cars] ([id], [name]) VALUES (2, N'ALFA ROMEO')
INSERT [dbo].[Cars] ([id], [name]) VALUES (3, N'ASTON MARTIN')
SET IDENTITY_INSERT [dbo].[Cars] OFF
SET IDENTITY_INSERT [dbo].[Games] ON 

SET IDENTITY_INSERT [dbo].[Games] OFF
SET IDENTITY_INSERT [dbo].[Mountains] ON 

INSERT [dbo].[Mountains] ([id], [name]) VALUES (1, N'EVEREST')
INSERT [dbo].[Mountains] ([id], [name]) VALUES (2, N'KANGCHENJUNGA')
INSERT [dbo].[Mountains] ([id], [name]) VALUES (3, N'LHOTSE')
SET IDENTITY_INSERT [dbo].[Mountains] OFF
SET IDENTITY_INSERT [dbo].[Movies] ON 

INSERT [dbo].[Movies] ([id], [name]) VALUES (1, N'LITTLE WOMEN')
INSERT [dbo].[Movies] ([id], [name]) VALUES (2, N'THE IRISHMAN')
INSERT [dbo].[Movies] ([id], [name]) VALUES (3, N'JOKER')
SET IDENTITY_INSERT [dbo].[Movies] OFF
SET IDENTITY_INSERT [dbo].[Players] ON 

SET IDENTITY_INSERT [dbo].[Players] OFF
SET IDENTITY_INSERT [dbo].[Rivers] ON 

INSERT [dbo].[Rivers] ([id], [name]) VALUES (1, N'AMAZON')
INSERT [dbo].[Rivers] ([id], [name]) VALUES (2, N'AMUR')
INSERT [dbo].[Rivers] ([id], [name]) VALUES (3, N'COLORADO')
SET IDENTITY_INSERT [dbo].[Rivers] OFF
SET IDENTITY_INSERT [dbo].[States] ON 

INSERT [dbo].[States] ([id], [name]) VALUES (1, N'ALGERIA')
INSERT [dbo].[States] ([id], [name]) VALUES (2, N'AUSTRALIA')
INSERT [dbo].[States] ([id], [name]) VALUES (3, N'BOLIVIA')
SET IDENTITY_INSERT [dbo].[States] OFF
/****** Object:  StoredProcedure [dbo].[AlterProgressProcedure]    Script Date: 5/9/2020 9:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AlterProgressProcedure]
	@progress int
AS
	update Games set progress = @progress
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[DeleteProcedure]    Script Date: 5/9/2020 9:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteProcedure]
	@name varchar(15) = NULL
AS
	delete from Players where name=@name
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[GetCarProcedure]    Script Date: 5/9/2020 9:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCarProcedure]
	@id int
AS
	SELECT name from Cars where id = @id
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[GetGameProcedure]    Script Date: 5/9/2020 9:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetGameProcedure]
AS
	SELECT id, player_name, level, category, word, used_letters, progress
		from Games where id = (select MAX(id) from Games)
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[GetImageProcedure]    Script Date: 5/9/2020 9:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetImageProcedure]
	@name varchar(15) = NULL
AS
	SELECT image from Players where name=@name
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[GetMountainProcedure]    Script Date: 5/9/2020 9:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMountainProcedure]
	@id int
AS
	SELECT name from Cars where id = @id
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[GetMovieProcedure]    Script Date: 5/9/2020 9:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMovieProcedure]
	@id int
AS
	select name from Movies where id = @id
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[GetNamesProcedure]    Script Date: 5/9/2020 9:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetNamesProcedure]
AS
	select name from Players
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[GetPlayerProcedure]    Script Date: 5/9/2020 9:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPlayerProcedure]

AS
	SELECT name, played_games, won_games, lost_games from Players
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[GetRiverProcedure]    Script Date: 5/9/2020 9:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRiverProcedure]
	@id int
AS
	SELECT name from Rivers where id = @id
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[GetStateProcedure]    Script Date: 5/9/2020 9:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStateProcedure]
	@id int
AS
	SELECT name from States where id = @id
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[InsertGameProcedure]    Script Date: 5/9/2020 9:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertGameProcedure]
	@player_name varchar(15),
	@level int,
	@category varchar(20),
	@word varchar(50),
	@used_letters varchar(40),
	@progress int
AS
	insert into Games([player_name],[level],[category],[word],[used_letters], [progress])
		values (@player_name, @level, @category, @word, @used_letters, @progress)
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[InsertProcedure]    Script Date: 5/9/2020 9:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertProcedure]
	@name varchar(15),
	@image image
AS
	insert into Players([name],[image],[played_games],[lost_games],[won_games]) values (@name,@image,0,0,0)
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[UpdateLostProcedure]    Script Date: 5/9/2020 9:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateLostProcedure]
	@name varchar(15)
AS
	update Players 
		set played_games=played_games+1, lost_games = lost_games+1
		where name = @name
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[UpdateWonProcedure]    Script Date: 5/9/2020 9:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateWonProcedure]
	@name varchar(15)
AS
	update Players 
		set played_games=played_games+1, won_games = won_games+1
		where name = @name
RETURN 0
GO
