<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add name="database" 
         connectionString="Data Source=DESKTOP-IV0HGA9\SQLEXPRESS;Initial Catalog=Chopsticks;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key ="btnBorder" 
         value="pack://application:,,,/MVP-tema3-OnlineRestaurant;component/AppImages/Border.png"/>
    <add key="btnCancelMessage" 
         value="Are you sure you want to go back? All changes will be lost."/>
    <add key="btnContinueMessageIncomplete"
         value="You need to complete all boxes."/>
    <add key="btnContinueMessageConfimation"
         value="Are you sure the information is correct?"/>
    <add key="btnContinueMessageCreated"
         value="Account created! Please log in."/>
    <add key="btnContinueMessageNotCreated"
         value="There already is an account with the same email address!"/>
    <add key="btnLoginIncorrect"
         value="Your credentials are incorrect."/>
    <add key="btnOrderIncorrect"
         value="Incorrect input!"/>
    <add key="btnOrderCorrect"
         value="Product ordered!"/>
  </appSettings>
</configuration>